* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.section-background h2 {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  font-size: 50px;
  padding: 25px 0;
  /* border: 2px solid white; */
  /* margin-bottom: 60px; */
  /* margin: -150px 0 60px 0; */
}

.section-background {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-bunch {
  /* border: 2px solid white; */
  display: flex;
  /* padding: 60px; */
  width: 100%;
  justify-content: center;
  margin: 60px 0;
}

.card-bunch-child {
  /* border: 2px solid white; */
  width: 90%;
  display: flex;
  justify-content: center;
}

/* .parallax::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 114%;
  background-image: url("https://wallpaper.dog/large/20450093.jpg");
  z-index: -1;
  opacity: 0.5;
} */
.parallax {
  background-image: url("https://i.pinimg.com/originals/ee/de/3a/eede3a1e17bca9bdc131e0e628069dd8.jpg");
}

.parallax1 {
  background-image: url("https://images.unsplash.com/photo-1610128114197-485d933885c5?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NjIzOTA2Nzc&ixlib=rb-1.2.1&q=80");
}

.parallax2 {
  background-image: url("https://images.unsplash.com/photo-1562095241-8c6714fd4178?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NjIzOTA5OTg&ixlib=rb-1.2.1&q=80");
}

.parallax3 {
  background-image: url("https://images.alphacoders.com/101/1019517.jpg");
}

.text-bloc p {
  margin: 75px;
  font-size: 22px;
}

.card-parent {
  padding: 20px;
  text-align: center;
  font-size: 12px;
}
.card-event{
  position:relative;
  width: 250px;
  height:300px;
  border-radius:0px 10px 10px 0px;
  background:#f4f4f4;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  margin: 20px 8%;
  box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.25);
  transition: 1s;
}

.card-event:hover .img-box-events {
  transform: rotateY(-180deg);
}

.card-event:hover {
  transform: translateX(50%);
}

.details-events {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-events {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform-style: preserve-3d;
  /* background: #000; */
  transition: 1s;
}

.img-box-events {
  /* border: 2px solid red; */
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  transform-origin: left;
  transform-style: preserve-3d;
  background: black;
  transition: 1s;
}

.img-box-events img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}
.button-section{
   margin: 0 5px;
   border: 0;
   border-radius: 10px;
   background-color: orangered;
   padding: 5px;
   color: #f4f4f4;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media only screen and (max-width: 1024px) {
    .card-bunch-child{
      flex-wrap: wrap;
    }
    .card-event{
      margin: 15px 8%;
    }
}
@media only screen and (max-width: 550px) {
  .card-bunch{
    margin: 0;
  }
  .card-bunch-child{
    flex-wrap: wrap;
  }
  .card-event{
    /* margin: 20px 8%; */
    width: 50%;
    height: 150px;
  }
  .section-background h2{
    padding: 10px 0;
  }
}