@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
body {
  margin: 0;
  font-family: raleway;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #061F25;
  

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

