
.G-maincontainer {
    /* border: 2px solid red; */
    margin: 0;
    padding: 0;
    font-family: poppins;
    color: #07D685;
    width: 100%;
    display: flex;
    flex-direction: column;
}

g.container {
    width: 80%;
    padding: 1em 0;
  float: left;
  width: 50%;
}

.g-heading h1 {
  
  /* border: 1px solid yellow; */
  position: relative;
  font-family:poppins;
  font-size:40px; 
  font-weight:700;  
  letter-spacing:1.5px; 
  text-transform:uppercase; 
  width:200px; 
  text-align:center; 
  margin:auto; 
  white-space:nowrap; 
  padding-bottom:25px;
}


img {
    /* width: 100%; */
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	display: inline-block;
}

.grid-wrapper > div {
	display: flex;
	justify-content: center;
	align-items: center;
  
}
.grid-wrapper > div > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
  /* box-shadow: 0px 0px 55px rgba(0, 0, 0, 0.4); */
  /* border: 2px solid #F5AD36; */
  /* margin-top: 72px; */
  
}

.grid-wrapper {
  /* border: 1px solid yellow; */
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-rows: 200px;
	grid-auto-flow: dense;
  margin-bottom: 75px ;
}

.grid-wrapper .wide {
	grid-column: span 2;
}
.grid-wrapper .tall {
	grid-row: span 2;
}
.grid-wrapper .big {
	grid-column: span 2;
	grid-row: span 2;
}

