.day-events{
    display: flex;
    width: 80%;
}
.styles-content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
/* .style-text{
    
} */
.styles-container{
    /* border: 4px solid red; */
    width: 33.33%;
    /* border: 2px solid yellow; */
    position: relative;
    top: 0;
    margin: 0 20px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}
.styles-container h1{
    /* position: absolute; */
    font-family: "poppins";
    color: white;
    text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4, 0 0 40px #03bcf4, 0 0 80px #03bcf4, 0 0 160px #03bcf4;
    /* transform: translate(-50%, -50%); */
    /* animation: animate 5s linear infinite; */
}
.styles-container h1::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(https://i.ytimg.com/vi/8s3qx8RP0ak/maxresdefault.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.2;
    background-color: #03bcf4;
}