.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  /* Style the button */
  .google-btn {
    background-color: #ffffff;
    color: grey;
    padding: 20px;
    border-radius: 5px;
    text-decoration: none;
    font-family: "Roboto";
    box-shadow: 0px 0px 10px #9e9e9e;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .google-btn:hover {
    background-color: #357ae8;
    cursor: pointer;
    box-shadow: 0px 0px 20px #9e9e9e;
    transform: scale(1.1);
    color: white;
  }

  .google-btn img {
    margin-right: 20px;
  }
  .google-btn span {
    font-size: 30px;
    font-weight: bold;
  }