
.team-name{
  color: #07D685;
    font-size: 50px;
    font-weight: bold;
    /* border: 2px solid yellow; */
    margin-bottom: 65px;
    
    display: flex;
    justify-content: center;
    /* align-items: center; */
}



.map_sec{
 padding: 50px 0px;
}

.map_inner h2, .map_inner p{
 color: #00ffd0;
 text-align: center
}
.map_inner p{
 font-size: 13px;
}
.map_bind{
margin-top: 50px;
 border-radius: 30px;
 overflow: hidden;
}