.contactus-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactus-heading{
    text-align: center;
}
.contactus-form{
    background-color: #9999;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 80vh;
}

input[type="text"]{
    width: 90%;
    margin:10px;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    /* cursor: pointer; */
  }

#message{
    width: 90%;
    margin:10px;
    padding: 10px;
    border-radius: 5px;
}