.sponsor-section{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sponsor-container{
  width: 100%;
  /* margin-left: 10%; */
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.containr {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 500px; /* Set the height of the containr */
  justify-content: center;
  
}

.static-column {
  width: 30%; /* Set the width of the static column */
  font-size: 25px;
  overflow: auto;
  margin-left: 10%;
}
.static-column::-webkit-scrollbar {
  display: none;
}
.start-0{
  font-size: 20px;
  color: #56ffc7;
}
.scrollable-column {
  display: flex;
  justify-content: space-evenly;
  flex: column;
  flex-wrap: wrap;
  width: 70%; /* Set the width of the scrollable column */
  overflow: auto; /* Enable scrolling for the column */
}
.scrollable-column::-webkit-scrollbar {
  display: none;
}

.sponsor-logos img{
  width:60%;
  
}
@media screen and (min-width: 1200) {
  .static-column p {
    font-size: 15px;
  }
}
@media screen and (max-width: 768px) {
  .containr {
    flex-direction: column;
    height: auto;
    text-align: center;
  }

  .static-column {
    width: 100%;
    order: 1;
  }

  .scrollable-column {
    width: 100%;
    order: 2;
  }
  .sponsor-container{
    margin-left: 0;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .containr {
    height: 400px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .containr {
    height: 450px;
  }
  .static-column p {
    font-size: 15px;
  }
}

@media screen and (min-width: 1281px) {
  .containr {
    height: 500px;
  }
}

.sponsor-logos{
  width: 40%;
  margin:3%;
  transition: transform .5s ease;
  text-align: center;
  
}
.sponsor-logos:hover {
  opacity: 0.7;
  transform: scale(1.25);
}
.sponsor-logos1{
  width: 20%;
  margin:3%;
  transition: transform .5s ease;
  
}
.sponsor-logos1:hover {
  opacity: 0.7;
  transform: scale(1.25);
}

.scrollable-column p{
  margin: 0;
  padding: 0;;
}
.section-heading {

  font-size: 50px;
  width: 78%;
  font-weight: bold;
  margin-bottom: 40px;
  text-transform: uppercase;
  color: #07D685;
  position: relative;
  display: inline-block;
}

.section-heading::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #05ca7e;
  position: absolute;
  bottom: -10px;
  left: 0;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.3s ease-in-out;
}

.section-heading:hover::after {
  transform: scaleX(1);
}
.maptable tr{
vertical-align: middle;
/* color: green; */
}
