.aboutmoon{
  display: flex;
  /* flex-wrap: wrap; */
  /* max-width: 30%; */
  padding:0;
  font: 1rem "Source Code Pro", monospace;
  /* left: 50%; */
}
.aboutmoon p{
    /* width: max-content; */
    /* position: relative; */
    color: #07d170;
}


 