.aboutmoon{
  display: flex;
  flex-wrap: wrap;
  max-width: 30%;
    padding:0;
    font: 1rem "Source Code Pro", monospace;
   
    position:absolute;
    left: 65%;
    top:45%;
    /* border: 5px solid red; */

  
}
.aboutmoon p{
    width: max-content;
    position: relative;
    color: #07d170;
}



 