.aboutmoon{
    margin: 20;
    padding: 20;
    font: 1rem "Source Code Pro", monospace;
   
   

  
}
.aboutmoon p{
    width: max-content;
    position: relative;
    color: #07d170;
}

.aboutmoon p::before, .aboutmoon p::after{
    content: '';
    position: absolute;
    inset: 0;
  }

  .aboutmoon p::before{
    background: #061F25;
    animation: typing 5000ms steps(25) 2s forwards;
  }

  .aboutmoon p::after{
    width: .2rem;
    
    animation: typing 5000ms steps(25) 2s forwards, blink 800ms infinite;
  }

  @keyframes typing{
    to{
      left: 100%;
    }
  }
  
  @keyframes blink{
    to{
      background: transparent;
    }
  }