@import url('https://fonts.googleapis.com/css2?family=Damion&family=IBM+Plex+Sans+Condensed&family=Raleway:wght@600&display=swap');

.hero-con {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width: 100%;
    /* border: 5px solid whitesmoke; */
    /* align-items: center; */
    position: relative;
    
}
.pause{
    position: absolute;
    transform: scale(0);
}
.circle{
    height: 15em;
    width: 15em;
    border-radius: 50%;
    background-color:#121413 ;
    display:flex;
    justify-content: center;
    align-items: center;
    
    transition: transform 0.2s ease;
   
}
.triangle{
    width: 0px;
    height: 0px;
    border-style: solid;
    position: relative;
    left: 10px;
    border-width: 0 60px 100px 60px;
    border-color: transparent transparent aquamarine transparent;
    transition: transform 0.2s ease;

    transform: rotate(90deg);
}
.hero{display: flex;
    /* border: 5px solid red; */
    height: 100vh;
   width: 60%;
   
    align-items: center;
    justify-content: center;
    /* width: 60vw; */
    /* position: absolute; */
    

}
.screener{
    display:flex;
    flex-wrap: wrap;
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: #100f0fd6;
    overflow: hidden;
}
#hero {
    display: flex;
    /* border: 5px solid red; */
    height: 100vh;
    position: absolute;
    align-items: center;
    justify-content: center;
    /* width: 60vw; */
    /* position: absolute; */
    z-index: -1;
}
.logotyp-con{
    /* border: 5px solid yellowgreen; */
    width: 40%;
 
    
    padding-top: 9em;
}
/* .logo1 {
    border: 5px solid purple;
} */
.logo1 img {
    width: 500px;
}
/* .typ {
    border: 5px solid blue;
    /* position: absolute;
    left: 65%;
    top: 60%;
    /* border: 5px solid red; *
    display: contents; *
} */

@media screen and (max-width: 700px) {
    .hero-con{
        display: flex;
        /* flex-direction: row; */
    }
    .hero {
        display: flex;
        /* border: 5px solid red; */
        height: 70vh;
        width: 100%;
    }
    .logo1 {
        display: none;
    }
    /* .typ{
        display: none; 
    } */
    .logotyp-con{
        
        width: 100%;
        padding-top: 0;
    }
    .aboutmoon{
        padding: 0;
        margin: 0;
    }
    .aboutmoon p {
        /* width: max-content; */
        /* position: relative; */
        color: #e9ecef;
        font-family: raleway;
        font-size: 17px;
        text-align: right;
        margin-top: 0;
    }
}



/* video btn  */

  