@import url('https://fonts.googleapis.com/css2?family=Damion&family=IBM+Plex+Sans+Condensed&family=Raleway:wght@600&display=swap');

.hero-con {
    display: flex;
    flex-wrap: wrap;
    width: 97vw;
    height: 100vh;
    /* border: 5px solid red; */
    align-items: center;
    position: relative;


}

.hero {
    display: flex;
    /* border: 5px solid red; */
    height: 100vh;
    width: 60vw;
    position: absolute;

}

.logo1 {
    position: absolute;
    display: block;
    /* border: 5px solid red; */
    left: 62%;
    top:0%


}

.logo1 img {

    height: 400px;

}

.typ {
    position: absolute;
    left: 65%;
    top: 60%;
    /* border: 5px solid red; */
    display: contents;

}

@media screen and (max-width: 600px) {
    .hero-con{
        display: flex;
        flex-direction: row;
        
    }
    .hero {
        display: flex;
        /* border: 5px solid red; */
        height: 70vh;
        width: 100vw;
       
    
    }
    .logo1 {
        display: none;
    }
    .typ{
        display: none;
      
         
    }
    
}