.hero{
    position: relative;
    display:flex;
    height:100vh;
       /* border: 5px solid red; */
    justify-content: center;
    align-items: center;
}
.logo1{
    position: absolute;
   
}
.logo1 p{
  
    color: #07d170;
    font-size: 4em;
    text-shadow: 2px 5px 0px #0f5132;
}


.typ{
    position: absolute;
    left: 65%;
    top:60%
}