video {
    height: 100%;
    width: 100%;
    object-fit:cover;
  
}
.main{
height: 100vh;
width:100%;
}
.content{
    position: absolute;
    width: 100%;
    height: 100%;
    top:5%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    /* background-color: pink; */
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .5;
}
.About{
    color: wheat;
    transition: all .5s ease-in-out;
}

.Schedule{
    color: wheat;
    transition: all .5s ease-in-out;
}
.glipses{

}

@keyframes lights {
    0% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(117, 100%, 60%, 0.3),
        -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
    30% { 
      color: hsl(146, 80%, 90%);
      text-shadow:
        0 0 1em hsla(111, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    40% { 
      color: hsl(230, 100%, 95%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 90%, 0.5),
        -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
        0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
    }
    
    70% {
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    100% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
  }
  

  
  .content h1 {
    text-align: center;
    margin: auto;
    font-size: 5.5rem;
    font-weight: 300;
    letter-spacing: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    animation: lights 5s 750ms linear infinite;
  }



  /* Schedule Card */
  .slot {
    background-color: hsl(0, 0%, 5%);
    width: 300px;
    height: 120px;
  align-items: center;
    transition: 1s ease-in-out;
    border:1px solid rgb(53, 51, 51);
    

  }
  .slot:hover{
    border: 1px solid rgb(240, 230, 230);
   

  }
 
  /* Schedule Card */
  


  /* Coordinators Card CSS  */
  .profile-card {
    flex: 1 1 30%;
    max-width: 300px;
    background: #061f25;
    padding: 20px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    transition: .3s;
}



.profile-icon {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.profile-name {
    font-size: 24px;
    font-weight: bold;
    /* margin: 25px 0 10px 0; */
}

.profile-position {
    font-size: 14px;
    color: whitesmoke;
}

.button {
    margin: 40px 0 0 0;
    padding: 10px 30px;
    color: #999;
    text-decoration: none;
    border: 1px solid #999;
    border-radius: 4px;
}
.contact1{
    display: flex;
    
}
.button:hover {
    color: #fff;
    background: #748dff;
    border: 1px solid #748dff;
}

@media screen and (max-width: 1000px) {
    .profile-name {
        font-size: 18px;
    }
}

@media screen and (max-width: 800px) {
    .profile-card {
        padding: 20px 15px;
    }

    .profile-name {
        font-size: 16px;
    }
}

/* Coordinators Card CSS  */


.dir:hover{
    background-color: white;
    color:black;
}
.navi:hover{
    background-color: white;
    color:black;
}