video {
    height: 100%;
    width: 100%;
    object-fit:cover;
  
}
.main{
height: 100vh;
width:100%;
}
.content{
    position: absolute;
    width: 100%;
    height: 100%;
    top:5%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #07D685;
    /* background-color: pink; */
}
.abttt{
    color: #07D685;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .5;
}
.About{
    color: #56FFC7;
    transition: all .5s ease-in-out;
}

.Schedule{
    color: #56FFC7;
    transition: all .5s ease-in-out;
}



@keyframes lights {
    0% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(117, 100%, 60%, 0.3),
        -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
    30% { 
      color: hsl(146, 80%, 90%);
      text-shadow:
        0 0 1em hsla(111, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    40% { 
      color: hsl(230, 100%, 95%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 90%, 0.5),
        -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
        0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
    }
    
    70% {
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    100% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
  }
  

  
  .content h1 {
    text-align: center;
    margin: auto;
    font-size: 5.5rem;
    font-weight: 300;
    letter-spacing: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    animation: lights 5s 750ms linear infinite;
  }



  /* Schedule Card */
  .slot {
    background-color: hsl(0, 0%, 5%);
    width: 300px;
    height: 120px;
  align-items: center;
    transition: 1s ease-in-out;
    border:1px solid rgb(53, 51, 51);
    

  }
  .slot:hover{
    border: 1px solid rgb(240, 230, 230);
   

  }
 
  /* Schedule Card */
  


  /* Coordinators Card CSS  */
  .profile-card {
    flex: 1 1 30%;
    max-width: 300px;
    background: #061f25;
    padding: 20px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    transition: .3s;
}



.profile-icon {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.profile-name {
    font-size: 20px;
    font-weight: bold;
    /* margin: 25px 0 10px 0; */
}

.profile-position {
    font-size: 14px;
    color: whitesmoke;
}

.button {
    margin: 40px 0 0 0;
    padding: 10px 30px;
    color: #999;
    text-decoration: none;
    border: 1px solid #999;
    border-radius: 4px;
}
.contact1{
    display: flex;
    
}
.button:hover {
    color: #fff;
    background: #748dff;
    border: 1px solid #748dff;
}

@media screen and (max-width: 1000px) {
    .profile-name {
        font-size: 18px;
    }
}

@media screen and (max-width: 800px) {
    .profile-card {
        padding: 20px 15px;
    }

    .profile-name {
        font-size: 16px;
    }
}

/* Coordinators Card CSS  */


.dir:hover{
    background-color: white;
    color:black;
}
.navi:hover{
    background-color: white;
    color:black;
}


.fancy {
    margin: 50px 0px 20px 0px;
    background-color: transparent;
    border: 2px solid #00FFD0;
    border-radius: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    float : right;
    font-weight: 700;
    letter-spacing: 0.05em;
    /* margin: 0; */
    outline: none;
    overflow: visible;
    padding: 1.25em 2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 13px;
   }
   
   .fancy::before {
    content: " ";
    width: 1.5625rem;
    height: 2px;
    background: #00FFD0;
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
   }
   
   .fancy .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color: #00FFD0;
   }
   
   .fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: #0f272d;
    transition: width 0.5s ease-out, left 0.3s ease-out;
   }
   
   .fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: #0f272d;
    transition: width 0.5s ease-out, right 0.3s ease-out;
   }
   
   .fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: #0f272d;
    transition: width 0.5s ease-out, right 0.3s ease-out;
   }
   
   .fancy:hover {
    color: white;
    background: #00FFD0;
   }
   
   .fancy:hover::before {
    width: 0.9375rem;
    background: white;
   }
   
   .fancy:hover .text {
    color: white;
    padding-left: 1.5em;
   }
   
   .fancy:hover .top-key {
    left: -2px;
    width: 0px;
   }
   
   .fancy:hover .bottom-key-1,
    .fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
   }
   .heading1 {
    color: rgb(86, 255, 199);

    letter-spacing: 1px;
    padding-bottom: 10px;
    border-bottom: 4px solid#630550;
    line-height: 48px;
    margin-bottom: 10px;
    font-size: x-large;
}

.heading1:hover {
    border-bottom: 4px solid #e613bb;
    transition: ease-in-out 1s;
}