.Major-Events{
    /* display: flex; */
    margin: 20px 0;
    /* width: 100%; */
    /* justify-content: center; */
}
.major-events-container{
    display: flex;
    /* border: 5px solid black; */
    flex-wrap: wrap;
    justify-content: center;
}
.timetable{
    display: flex;
    flex-direction: column;

}
.timetable h1{
    text-align: center;
  font-family: "poppins";
  color: white;
  text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4, 0 0 40px #03bcf4, 0 0 80px #03bcf4, 0 0 160px #03bcf4;   
}
.timetable h3{
    text-align: center;
    font-family: "poppins";
    color: rgb(3, 240, 204);
    /* text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4, 0 0 40px #03bcf4, 0 0 80px #03bcf4, 0 0 160px #03bcf4;       */
}