.parent-Event{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */

}
.cutural-container{
    width: 80%;
    /* border: 2px solid cyan; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* border-radius: 8px;
    padding: 15px; */
    /* background-color: #222c3991; */
    /* box-shadow: 2px 2px 15px #222c3991; */
}
.cutural-container h1{
    color: white;
    /* border-bottom: 2px solid cyan; */
    padding: 0 0 5px 0;
    margin: 0 0 10px 0;
}

.floatingButton{
    border: 2px solid cyan;
    background: none;
    color: cyan;
    border-radius: 15px;
}

.d {
    color: cyan;
}



 /* .D-heading {
    
        font-family: 'Ubuntu Condensed', sans-serif; 
        font-size: 6em;
        text-align: center;
        margin-top: 90px;
        opacity: 0; 
        -webkit-animation: fade 2s ease-in, up 1s ease-in; 
        -webkit-animation-fill-mode: forwards;   
        animation-name: fade;
  animation-duration: 1s;
      
} 

@keyframes fade {
    from { opacity: 0; }
    to   { opacity: 1; }
  } */

  
  
.head-desc{
    /* border: 2px solid red; */
    height: 100vh;
    position: relative;
    /* font-size: 60px; */

}

.day1, .day2, .day3{
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: center;
    border-radius: 8px;
    padding: 15px;
    width: 1000px;
    height: 200px;
    background-color: #11151b ;
    box-shadow: 0px 0px 12px 2px #00ffae;
    margin: 35px;   
    
}

@media only screen and (max-width: 400px) {
	.day1 {
        display: flex;
	  flex-wrap: wrap;
	}
  }

.day3 {
    justify-content: center;
}

