.SingleEventCard-section{
    border: 2px solid cyan;
    padding: 10px 20px;
    width: 40%;
    border-radius: 5px;
    margin: 15px;
    /* background-color: lightgrey; */
    
    
}
.Event-card-upper{
    display: flex;
    color: white;
    /* justify-content: center; */
    /* align-items: center; */
    font-size: 25px;
    margin: 0;
}

.event-img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .event-img img{
      position: absolute;
      top: 0;
      left: 0;
      /* width: 100%; */
      /* height: 100%; */
      background-color: #0e1538;
      /* z-index: 50; */
      border-radius: 5%;
      opacity: 0.2;
  }

.event-desc {
    font-size:18px;
    letter-spacing: 1.2px;
}
.Event-Card-lower{
    /* border: 2px solid yellow; */
    margin: 10px 0;
    display: flex;
    justify-content: right;

}
.card-buttons{
    background-color: transparent;
    border: 1px solid cyan;
    box-shadow: 2px 2px 15px #222c3991;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    margin: 0 5px;
    /* width: 20%; */
}

  .card-buttons span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .card-buttons span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
  }
  
  .card-buttons:hover span {
    padding-right: 20px;
  }
  
  .card-buttons:hover span:after {
    opacity: 1;
    right: 0;
  }

.event-info{
    display: flex;
    flex-direction: column;
    font-family: "poppins";
    
}

.event-name {
    font-family: poppins;
    font-size: 25px;
    color: #F5AD36;
}