.eventpage{
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.single-event-box{
  margin-bottom: 20px;
  width: 80%;
  border: 2px solid beige;
  border-radius: 8px;
  padding: 20px;
}

.single-event{
  margin:5px;
  display: grid;
  grid-template-columns:auto auto;
}

.single-event h3{
  padding-right:50px ;
}
.single-event-button button{
  border-radius: 8px;
  margin-left: 20px;
  padding: 8px; 
}

.single-event-button{
  display: flex;
  justify-content: end;
}