.first{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.aaaa{
    color: #56FFC7 ;
    transition: .4s ease;
}
.aaaa:hover{
background-color: #56FFC7;
color: #012016 ;
}
@media screen and (max-width:768px) {
    .first{
        
        margin: 2rem;

    }
    
}