.first{
    height: 75vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.aaaa{
    color: #56FFC7 ;
    transition: 0.4s;
}
.aaaa:hover{
background-color: #56FFC7;
color: #012016 ;
}
@media screen and (max-width:768px) {
    .first{
        
        margin: 2rem;

    }
    
}