@import url('https://fonts.googleapis.com/css2?family=Damion&family=IBM+Plex+Sans+Condensed&family=Raleway:wght@600&display=swap');

.hero-con {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    width: 100%;
    /* top: -23px; */
    /* border: 5px solid whitesmoke; */
    /* align-items: center; */
    position: relative;
    
}
.pause{
    position: absolute;
        right: 0px;
    transform: scale(0);
}
.hcircle{
    position: absolute;
    height: 15em;
    width: 15em;
    border-radius: 50%;
   border: 1px solid #32ff8b;
    display:flex;
    justify-content: center;
    align-items: center;
    
    transition: transform 0.7s  ease-in-out;
}
.hcircle:hover{
    transition: transform 1s  ease-in-out;
    transform: scale(10);
}
.circle:hover{
    transition: transform 1s ease-in-out;
    transform: scale(0.5);

}
/* .circle:hover+.hcircle{
    transform: scale(10);
} */


.circle{
    height: 15em;
    width: 15em;
    border-radius: 50%;
    background-color:#01170b ;
    display:flex;
    justify-content: center;
    align-items: center;
    
    transition: transform 0.2s ease;
   
}
.triangle{
    width: 0px;
    height: 0px;
    border-style: solid;
    position: relative;
    left: 10px;
    border-width: 0 60px 100px 60px;
    border-color: transparent transparent #32ff8b transparent;
    transition: transform 0.2s ease;

    transform: rotate(90deg);
}
.hero{display: flex;
    /* border: 5px solid red; */
    height: 100%;
   width: 60%;
   
    align-items: center;
    justify-content: center;
    /* width: 60vw; */
    /* position: absolute; */
}
.screener{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    background-color: #100f0fd6;
    /* background-color: rgba(0, 0, 0, 0.949); */
    overflow: hidden;
}
#hero {
    display: flex;
    /* border: 5px solid red; */
    width: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;
    /* width: 60vw; */
    /* position: absolute; */
    z-index: -1;
}
.logotyp-con{
    /* border: 5px solid yellowgreen; */
    width: 40%;
    padding-top: 9em;
}
/* .logo1 {
    border: 5px solid purple;
} */
.logo1 img {
    width: 500px;
}
/* .typ {
    border: 5px solid blue;
    /* position: absolute;
    left: 65%;
    top: 60%;
    /* border: 5px solid red; *
    display: contents; *
} */
.logframe{
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 0;
    transition-delay: 1s;
    transition-property: transform;
    transition: transform 1s ease ;
    transform: scaley(1);
    
}
.frame{
    width: 100px;
    height: 100px;
    margin: 4px;
    display: flex;
    align-items: center;
 
}
.frame img{
    object-fit: cover;
}

.trapezoid {

    border-bottom: 60px solid transparent;
    border-Top: 60px solid transparent;
    border-left: 120px solid #00FFD1;
    height: 400px;
    transform: rotate(90deg);
    position: absolute;
    top: -140px;
    z-index: -1;
   
   
  
  }

@media screen and (max-width: 700px) {
    .hero-con{
        display: flex;
        /* flex-direction: row; */
    }
    .hero {
        display: flex;
        /* border: 5px solid red; */
        height: 70vh;
        width: 100%;
    }
   
    .logo1 {
        display: none;
    }
    /* .typ{
        display: none; 
    } */
    .logotyp-con{
        
        width: 100%;
        padding-top: 0;
    }
    .aboutmoon{
        padding: 0;
        margin: 0;
    }
    

    .pause{
        position: absolute;
            right: 0px;
        transform: scale(0);
    }
    .hcircle{
        position: absolute;
        height: 10em;
        width: 10em;
        border-radius: 50%;
       border: 1px solid #32ff8b;
        display:flex;
        justify-content: center;
        align-items: center;
        
        transition: transform 0.7s  ease-in-out;
    }
    .circle{
        height: 10em;
        width: 10em;
        border-radius: 50%;
        background-color:#01170b ;
        display:flex;
        justify-content: center;
        align-items: center;
        
        transition: transform 0.2s ease;
       
    }
    .triangle{
        width: 0px;
        height: 0px;
        border-style: solid;
        position: relative;
        left: 10px;
        border-width: 0 50px 80px 50px;
        border-color: transparent transparent #32ff8b  transparent;
        transition: transform 0.2s ease;
    
        transform: rotate(90deg);
    }

}



/* video btn  */

  