.nav-header{
    position: relative;
    top: -23px;
    /* width: 100%;
    display: flex; */
    /* justify-content: center; */
    border-bottom: #00FFD1 2px solid;
    background-image: url(https://vinhack.vinnovateit.com/texture.svg);
}
.header-bar{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}
.R-header-bar{
    /* border: 2px solid red; */
    width: 100%;
    /* display: none; */
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
}
.R-header-container li{
    width: 100%;
}
.header-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.R-header-container li{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.header-container li{
    margin: 0;
    /* display: flex; */
    /* color: #00FFD1; */
    list-style: none;
    align-items: center;
    justify-content: center;
}
.header-container li a, .R-header-container li a{
    color: #00FFD1;
    text-decoration: dashed;
    /* font-family: "poppins"; */
    font-size: 20px;
    font-weight: 600;
}
.logo-img{
    width: 100px;
}
.drop-down-parent{
  position: relative;
}
.drop-down-parent:hover .drop-down, .drop-down-nested-parent:hover .drop-down-nested{
  display: block;
}
.drop-down ,.drop-down-nested{
  position: absolute;
  z-index: 10;
  background-color: #061F25;
  left: 0;
  padding: 10px 0;
  width: 200px;
  top: 40px;
  border-radius: 5px;
  box-shadow: 0 0 10px #083641;
  display: none;
}
.drop-down-nested{
  left: 100%;
  top: 0;
}
.drop-down-nested li{
  font-size: medium;
  padding: 0 10px;
}
.drop-down:hover{
  display: block;
}
.drop-down li{
  color: #00c1b7;
  margin: 8px 0;
  font-family: poppins;
  font-weight: 300;
  font-size: 20px;
  padding: 0 10px;
}
.drop-down li:hover{
  background-color: #083641;
}
.drop-down-nested-parent{
  position: relative;
}
.sponsor{
  left: -96%;
}
@media only screen and (max-width: 1024px) {
    .nav-header{
        top: 0px;
        position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    z-index: 1;
    display: none;
    flex-direction: column;
    font-style: normal;
    font-weight: bold;
    padding: 2em;
    height: 99%;
    overflow-x: hidden;
    
    }
    
    input:checked~.nav-header {
        display: none;
        transition: width 1s ease-in;
      }
      .line {
        margin-bottom: 6px;
        /* background-color: aqua; */
        background-image: linear-gradient(90deg,#00c1b7, #0deecc);
      }
      input:checked~.nav-header {
        display: block;
        transition: ease-in 1s;
      }
      input:checked + .nav-tog-lab > .line{
        background-color:white;
        background-image: none;
      }
    
      input:checked + .nav-tog-lab{
        position: fixed;
      }
      .nav-tog-lab {
        position: absolute;
        display: block;
        z-index: 4;
        padding: 16px;
      }
    
      .nav-tog-lab span {
        margin-top: 3%;
        display: block;
        position: relative;
        height: 0.4em;
        width: 2.5em;
        border-radius: 3px;
      }
      .header-container{
   
        width: 100%;
        padding: 10px 20px;
        
        display: flex;
        flex-direction:column;
        
    }
    .header-container li{
        margin: 2em;
        display: flex;
        /* color: #00FFD1; */
        list-style: none;
        align-items: center;
        justify-content: center;
    }
    .drop-down-parent:hover .drop-down, .drop-down-nested-parent:hover .drop-down-nested{
      display: none;
    }
}

.dropdown-content{
  display: none;
  position: absolute;
  right: 5px;
  background-color: #f9f9f9;
  min-width: 100px;
  z-index: 1;
  margin-top: 150px
}
.dropdown-content a {
  color: black;
  padding: 2px;
  text-decoration: none;
  display: block;
  
}
.sponsor:hover{
  /* display: block; */
  color:"pink";
}