.nav-header{
    position: relative;
    top: -23px;
    /* width: 100%;
    display: flex; */
    /* justify-content: center; */
    border-bottom: #00FFD1 2px solid;
}

.header-bar{
   
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}
.R-header-bar{
    /* border: 2px solid red; */
    width: 100%;
    /* display: none; */
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
}
.R-header-container li{
    width: 100%;
}
.header-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.R-header-container li{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.header-container li{
    margin: 0;
    display: flex;
    /* color: #00FFD1; */
    list-style: none;
    align-items: center;
    justify-content: center;
}
.header-container li a, .R-header-container li a{
    color: #00FFD1;
    text-decoration: dashed;
    /* font-family: "poppins"; */
    font-size: 20px;
    font-weight: 600;
}
/* .header-container li a:active{
    color: aliceblue;
} */
.logo-img{
    width: 100px;
}
@media only screen and (max-width: 1024px) {

    .nav-header{
        top: 0px;
        position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    z-index: 1;
    display: none;
    flex-direction: column;
    font-style: normal;
    font-weight: bold;
    padding: 2em;
    height: 99%;
    overflow-x: hidden;
    
    }
    
    input:checked~.nav-header {
        display: none;
        transition: width 1s ease-in;
      }
      .line {
        margin-bottom: 6px;
        /* background-color: aqua; */
        background-image: linear-gradient(90deg,#00c1b7, #0deecc);
      }
      input:checked~.nav-header {
        display: block;
        transition: ease-in 1s;
      }
      input:checked + .nav-tog-lab > .line{
        background-color:white;
        background-image: none;
      }
    
      input:checked + .nav-tog-lab{
        position: fixed;
      }
      .nav-tog-lab {
        position: absolute;
        display: block;
        z-index: 4;
        padding: 16px;
      }
    
      .nav-tog-lab span {
        margin-top: 3%;
        display: block;
        position: relative;
        height: 0.4em;
        width: 2.5em;
        border-radius: 3px;
      }
      .header-container{
   
        width: 100%;
        padding: 10px 20px;
        
        display: flex;
        flex-direction:column;
        
    }
    .header-container li{
        margin: 2em;
        display: flex;
        /* color: #00FFD1; */
        list-style: none;
        align-items: center;
        justify-content: center;
    }
}

