.nav-header{
    position: sticky;
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: #00FFD1 2px solid;
}

.header-bar{
   
    width: 80%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}
.R-header-bar{
    /* border: 2px solid red; */
    width: 100%;
    /* display: none; */
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
}
.R-header-container li{
    width: 100%;
}
.header-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.R-header-container li{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.header-container li{
    margin: 0;
    display: flex;
    /* color: #00FFD1; */
    list-style: none;
    align-items: center;
    justify-content: center;
}
.header-container li a, .R-header-container li a{
    color: #00FFD1;
    
    text-decoration: dashed;
    /* font-family: "poppins"; */
    font-size: 20px;
    font-weight: 600;
}
/* .header-container li a:active{
    color: aliceblue;
} */
.logo-img{
    width: 100px;
}
@media only screen and (max-width: 1024px) {
    .R-header-container li{
        margin: 10px 0;
    }
    .R-header-bar{
        
        flex-direction: column;
        padding: 10px 20px;
        position: absolute;
        background-color: #061f25;
        /* display: block; */
        /* height: 100vh; */
    }
    .R-header-container{
        flex-direction: column;
        width: 90%;
        height: 90vh;
    }
    /* .header-bar{
        display: none;
    } */
    .burger{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .line{
        width: 25px;
        height: 2px;
        line-height: 1;
        background-color: #666;
        margin: 3px 0;
    }
    .Responsive-header{
        display: flex;
        justify-content: space-between;
    }
    .cross{
        color: #666;
        margin: 0;
        display: flex;
        align-items: center;
    }
}

