@import url('https://fonts.googleapis.com/css?family=Oswald:700');

.tilespo{
    display: flex;
    width: 100%;
    overflow: hidden;
    border-bottom:3px solid #00FFD1 ;
    
}

.bio p {
   
    color: #00FFD1;
    display:inline-block;
    font-family: Montserrat;
    font-size: 24px;
    
    margin-bottom: 0;
    padding: 5px 15px;
    text-transform: uppercase;
    transform: translateX(100%);
    white-space: nowrap;
    
  }

  .text-moving {
    animation: moveText linear 14s -3s forwards infinite;
  }
  .text-moving2 {
    animation: moveText linear 14s forwards infinite;  
  }
  .text-moving3 {
    animation: moveText linear 14s 5s forwards infinite;  
  }

  @keyframes moveText {
	from { transform: translateX(100%); }
	to { transform: translateX(-150%); }
}
