.pqr th {
    font-size: 30px;  
}

.auction1 {
padding: 10px;
}

@media screen and (max-width:900px) {
    .pqr th {
        font-size: 16px;
    }

    .pqr td,
    p {
        font-size: 16px;
    }

    .auction1 {
        margin-top: 40px;
    }
    .ttt{
        display: flex;
        justify-content: center;
    align-items: center;
    }
}