.pqr th {
    font-size: 30px;  
}

.auction-page {

}

@media screen and (max-width:768px) {
    .pqr th {
        font-size: 16px;
    }

    .pqr td,
    p {
        font-size: 16px;
    }

    .auction1 {
        margin-top: 40px;
    }
}