.team-container {
    /* border: 2px solid red; */
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    /* margin: 15px; */
    width: 100%;
    
}

.card-center{
    border: 4px solid lightgreen;
    width: 80%;
    flex-wrap: wrap;
    /* padding: 5px; */
    /* display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr); */
    display: flex;
    flex-wrap: wrap;
    /* margin: 15px; */
    /* flex-direction: column; */
    justify-content: center;
    align-content: center;
}

.person-card {
    /* border: 2px solid lightcyan; */
    width: 33.33%;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
}

/* .card-4 {
    grid-area: 2/2/3/3;
} */

.maincontainer {
    /* border: 5px solid yellow; */
    /* position: relative; */
    /* width: 305px; */
    width: 100%;
    /* height: 390px; */
    /* margin-bottom: 16px; */
    display: flex;
    /* flex-wrap: wrap; */

    /* background: lightblue; */
}

.main-card{
    /* border: 5px solid lightpink; */
    margin: 42px;
    /* padding: 5px; */
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    /* border: 2px solid white; */
    /* position: relative; */
    width: 100%;
    height: 78%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    /* background: purple; */
}

.main-card:hover{
    transform: rotateY(180deg);
}


.front {
    position: absolute;
    /* border: 8px solid yellow; */
    /* padding: 5px; */
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    /* background: #ffc728; */
    color: rgb(8, 250, 250);
    text-align: center; 
    border-radius: 15px;
    /* display: flex;
    flex-direction: column; */
    background-color: #0D4451;   
}

.team-card-img-top  {
    /* vertical-align: middle; */
    /* width: 80%; */
    border-radius: 115px;
    margin-top: 30px;
    /* overflow-clip-margin: content-box;
    overflow: clip;     */
}

.card-text {
    /* border: 2px solid yellow; */
    margin-top: 28px;
}

.main-card-body {
    color: #F5AD36;
    font-family: poppins;
}

.main-card-body p {
    font-weight: 300;
}



.back {
    /* position: absolute; */
    width: 100%;
    /* height: 100%; */
    backface-visibility: hidden;
    background: #D9F3F4;
    color: black;
    transform: rotateY(180deg);
    border-radius: 15px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
    border: 4px solid red;
    
}

.back p {
    border: 2px solid black;
    margin: 20px;
    font-family: poppins;
    font-size: 100%;
}

.follow-us{
	margin-top:25px;
    padding: 0;
    width: fit-content;
    border: 2px solid red;
    /* display: flex; */
    /* justify-content: center; */
}

.follow-us li{ 
    display:inline-block;
    /* border: 2px solid black;  */
	width:auto; 
	margin:0 12px;
}

.follow-us li .fa{ 
    font-size:27px; 
    color:#767676;
 }
.follow-us li .fa:hover{ 
    color:#025a8e;
 }

 @media screen and (max-width: 800px) {
    .person-card {
      flex: 100%;
    }
 }


