@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");



.profile-cards {
    font-family: poppins;
    /* border: 1.5px solid white; */
	width: 23.33%;
	/* position: absolute; */
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
	margin: 55px;
    background-color: #0D4451;
	/* background-color: yelllow; */
	border-radius: 1rem;
	box-shadow: 0px 0px 15px rgb(0,255,208)
}

@media only screen and (max-width: 400px) {
	.profile-cards {
	  width: 100%;
	}
  }

.profile-image >img {

	position: relative;
	/* border: 2px solid #F5AD36; */
	top: -100px;
	border-radius: 6rem;
	/* background-image: url(https://yt3.ggpht.com/ytc/AKedOLSB-oR-xmvVSZXJ3gbK12uvv0AJUvajwxMie_R_uw=s900-c-k-c0x00ffffff-no-rj); */
	/* background-image: "./images/25year.png"; */
	width: 11rem;
	height: 11rem;
	/* object-fit: contain; */
	/* background-position: center; */
	/* background-size: cover; */
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.4);
}

.profile-info {
	text-align: center;
	margin-top: -5rem;
	margin-bottom: 1rem;
}

.profile-info > .profile-name {
	color: #F5AD36;
    font-family: poppins;
    letter-spacing: 1.5px;
}

.profile-info > .profile-desc {
	color: black;
	font-size: 1rem;
    font-weight: 500;
    font-family: poppins;
}


.icons{
	margin-top:8px;
    padding: 0;
    width: fit-content;
    /* border: 2px solid red; */
    /* display: flex; */
    /* justify-content: center; */
}

.icons li{ 
    display:inline-block;
    /* border: 2px solid black;  */
	width:auto; 
	margin:0 12px;
}

.icons li .fa{ 
    font-size:27px; 
    color:black;
 }

 .team-container {
	/* border: 2px solid white; */
	display: flex;
	justify-content: center;
	/* display: flex; */
	/* flex-direction: column; */
	width: 100%;
 }

 .team-body{
	/* border: 12px solid red; */
	display: flex;
	/* flex-direction: column; */
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
	width: 80%;

 } 


