.aboutherosection{
    /* background-image: url('https://upload.wikimedia.org/wikipedia/commons/3/3c/Main_block1.jpg'); */
    background-position: center;
    left:0px;
    
    position:relative;
    /* background-size: 100%; */
    background-size: cover;
    background-repeat: no-repeat;
    /* filter: blur(8px); */
  /* -webkit-filter: blur(8px); */
    /* background-attachment: fixed; */
}

.aboutus-section{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* border: 2px solid white; */
    align-items: center;
}
.aboutus-container{
    margin: 20px 0;
    width: 100%;
    /* border: 2px solid white; */
}
.aboutus-main-img{
    border-radius: 7%;
    padding: 0 20px 0 20px;
    width: 40%;
}
.aboutus-container h1{
    width: 100%;
    text-align: center;
    /* border: 2px solid white; */
}
.aboutus-content{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 40px 20px 10px 40px;
}
.aboutus-side-description{
    padding: 0 20px;
    font-size: 125%;
}

.person{
    margin: 40px 20px 10px 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}



@keyframes example {
    from {color: #FFB84D;}
    to {color: cyan;}
  }
  
  /* The element to apply the animation to */
  .team h1 {
    font-family: poppins;
    font-size: 65px;
    display: flex;
    justify-content: center;
    color: #FFB84D;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

/* nairsir photo */

.root1 {
    overflow: hidden;
    width: 30%;
    height: 70%;
    margin: auto auto;
    margin-top: 5%;
    border: 20px rgba(0, 0, 0, 0.3) solid;
  }
  
  .wrap1 {
    overflow: hidden;
    position: relative;
    display: block;
    z-index: 3;
    border: 1px solid;
    padding: 0;
  }
  .wrap1 img {
    object-fit: cover;
    margin: 0;
    padding: 0;
    transform: scale(1.1);
    transition: 200ms ease all;
  }
  /* .wrap1 .layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    opacity: 0.2;
    transition: 200ms ease all;
    z-index: 1;
  }
  .wrap1 .layer1 {
    left: -55%;
    background: #576D8B;
    transform: rotate(75deg);
    opacity: 0.3;
  }
  .wrap1 .layer2 {
    left: -20%;
    top: 0%;
    background: #576D8B;
    transform: rotate(60deg);
    opacity: 0.3;
  }
  .wrap1 .layer3 {
    left: 50%;
    top: 33%;
    background: #576D8B;
    transform: rotate(-50deg);
    opacity: 0.3;
  }
  .wrap1 .layer4 {
    left: 55.399%;
    top: -90%;
    background: #45628B;
    transform: rotate(-30deg);
    opacity: 0.4;
    height: 200%;
  }
  .wrap1:hover .layer {
    opacity: 0;
  } */
  .wrap1:hover img {
    transform: scale(1.01);
  }
  .deanbox{
    position: relative;
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .degi{
    position: absolute;
    z-index: 3;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    bottom: 1%;
    width: 30%;
    background-color: rgba(0, 0, 0, 0.63);

  }

  .deanbox h3{
   
    color: rgb(3, 255, 163);
    
   
    
  }
  .deanbox p{
    color: rgb(255, 255, 255);
    

  }
  @media only screen and (max-width: 900px)
  {
    .root1{
        width: 70%;
    }
    .degi{
        width: 70%;
    }
  }