.aboutherosection{
    /* background-image: url('https://upload.wikimedia.org/wikipedia/commons/3/3c/Main_block1.jpg'); */
    background-position: center;
    /* background-size: 100%; */
    background-size: cover;
    background-repeat: no-repeat;
    /* filter: blur(8px); */
  /* -webkit-filter: blur(8px); */
    /* background-attachment: fixed; */
}

.aboutus-section{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* border: 2px solid white; */
    align-items: center;
}
.aboutus-container{
    margin: 20px 0;
    width: 80%;
    /* border: 2px solid white; */
}
.aboutus-main-img{
    border-radius: 7%;
    padding: 0 20px 0 20px;
    width: 40%;
}
.aboutus-container h1{
    width: 100%;
    text-align: center;
    /* border: 2px solid white; */
}
.aboutus-content{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 40px 20px 10px 40px;
}
.aboutus-side-description{
    padding: 0 20px;
    font-size: 125%;
}

.person{
    margin: 40px 20px 10px 40px;
    display: flex;
    flex-wrap: wrap;
}



@keyframes example {
    from {color: #FFB84D;}
    to {color: cyan;}
  }
  
  /* The element to apply the animation to */
  .team h1 {
    font-family: poppins;
    font-size: 65px;
    display: flex;
    justify-content: center;
    color: #FFB84D;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

